/* Add this CSS to your file.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
  }
  
  #main {
    text-align: center;
  }
  
  #options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .answer {
    margin: 5px;
  }
  
  #btn {
    margin-top: 10px;
  }
  